input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.7px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #928483;
  border-radius: 6.2px;
  border: 0.7px solid #562425;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
  border: 2.2px solid #000000;
  height: 30px;
  width: 26px;
  border-radius: 42px;
  background: #981817;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9e9191;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #928483;
  border-radius: 6.2px;
  border: 0.7px solid #562425;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
  border: 2.2px solid #000000;
  height: 30px;
  width: 26px;
  border-radius: 42px;
  background: #981817;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #867776;
  border: 0.7px solid #562425;
  border-radius: 12.4px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #928483;
  border: 0.7px solid #562425;
  border-radius: 12.4px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
  border: 2.2px solid #000000;
  height: 30px;
  width: 26px;
  border-radius: 42px;
  background: #981817;
  cursor: pointer;
  height: 12.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #928483;
}
input[type=range]:focus::-ms-fill-upper {
  background: #9e9191;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

.container {
  width: 20em;
  background: #E6E6E6;
  border: 6.7px solid #562425;
  border-radius: 6.2px;
  padding:0.5em 2em 1.5em 2em;
}
.container h1 {
  text-align: center;
}
.container h2 {
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align: center;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #928483;
  border-radius: 6.2px;
  border: 0.7px solid #562425;
}

p {
  width: 25%;
  line-height: 2em;
  text-align: center;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #F8F8F8;
  border-radius: 6.2px;
  border: 0.7px solid #562425;
}
